<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Twitch Bot</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="/webapp/index.js"></script>
    </head>
    <body>
        <div ng-controller="WebAppController">
            <div>Hello {{name}}!</div>
            <div>{{alertFromTwitch}}</div>
            <div>
                <input type="text" ng-model="name" placeholder="Enter a name here">
                <button ng-click="checkText()">Click Me</button>
            </div>
            <div>
                <label>Bot is {{status}} :</label>
                <button ng-click="toggleConnection(true)" ng-show="!connectionStatus">Connect</button>
                <button ng-click="toggleConnection(false)" ng-show="connectionStatus">Disconnect</button>
                <div ng-repeat="user in activeUsers">{{user}}</div> 
            </div>
        </div>
    </body>
</html>